
/** Color Palatte: 
	https://coolors.co/20183f-5e5c5e-686587-d3c44e
	https://coolors.co/1e2019-394032-686587-8dab7f-82ab1a

	https://coolors.co/4e5340-95a3a4-686587-b7d1da-e2e8dd

	2A3D45 japanese indigo
	484041 dark puce
	381D2A dark purple
	https://coolors.co/221d3c-5e4955-996888-c99da3-c6ddf0
*                   
**/

.top-menu {
  background-color: #3366c1;
  color: white;
  padding: 5px 5px 0px 5px;
  font-size: 1.3em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.top-menu a:hover {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: normal;
  border-bottom: 5px solid white;
}

.top-menu a {
  color: #333;
  padding: 5px 5px 0px 5px;
  border-radius: 0%;
  font-weight: bold;
}

.steve {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding-bottom: 0px;
}

.davidson {
  border-top: 4px solid white;
  border-bottom: 0px solid white;
  font-size: .9em;
  margin-left: -2px;
}

.space {
  background-color: none;
  margin-top: 40px;
}

#about {
  margin-top: 40px;
  background: url("https://drive.google.com/uc?id=0BxinRlnGqWlXSDhWakNNYUtUX3c") no-repeat center fixed;
  background-size: cover;
  opacity: 0.9;
}

.social {
  margin-bottom: 20px;
  
}

h1 {
  padding-left: 5%;
  color: white;
  text-shadow: 0px 0px 10px #000;
}

h3 {
  color: white;
  padding-left: 6%;
  text-shadow: 0px 0px 10px #000;
}

p {
  color: black;
  background: none;
  font-size: 1.1em;
  padding-right: 1%;
  font-weight: bold;
  padding-left: 5%;
  text-shadow: 0px 0px 10px #fff;
}

h2 {
  font-size: 1.4em;
  color: white;
  text-shadow: 0px 0px 10px #000;
}

.imageme {
  float: left;
  border: 5px solid white;
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
}

.githubbutton {
  background-color: black;
  color: white;
}

.flickrbutton {
  background-color: #ff0084;
  color: white;
}

.fccbutton {
  background-color: #075002;
  color: white;
}

.twitterbutton {
  background-color: #33ccff;
  color: white;
}

.gplusbutton {
  background-color: #d34836;
  color: white;
}

.linkedinbutton {
  background-color: #0077b5;
  color: white;
}

.portfoliorow {
  background: url("https://drive.google.com/uc?id=0BxinRlnGqWlXSEpURWxLZS1iZWc") repeat-y center fixed;
  background-size: 100%;
  background-color: black;
  opacity: 0.9;
}

.portfolio {
  background: url("https://drive.google.com/uc?id=0BxinRlnGqWlXSEpURWxLZS1iZWc") no-repeat center fixed;
  background-size: cover;
}

.portfolio-element {
  font-size: 1.2em;
}

.portpreview {
  margin: 5px;
  border-radius: 15px;
  border: 3px solid steelblue;
}

#contact {
  background: url("https://drive.google.com/uc?id=0BxinRlnGqWlXaTVqa040NHZUaUU") no-repeat center fixed;
  background-size: 100%;
  background-color: gray;
  opacity: 0.9;
}

.devlogos {
  font-size: 3em;
  text-
}