
/** Color Palatte: 
	https://coolors.co/20183f-5e5c5e-686587-d3c44e
	https://coolors.co/1e2019-394032-686587-8dab7f-82ab1a

	https://coolors.co/4e5340-95a3a4-686587-b7d1da-e2e8dd

	2A3D45 japanese indigo
	484041 dark puce
	381D2A dark purple
	https://coolors.co/221d3c-5e4955-996888-c99da3-c6ddf0
*                   
**/

.body {

	background-color:#eee;
	background-image: url("../images/diamond-upholstery.png");
	color:#d3c44e;
	min-height: 2000px;

}

.about {
	text-align: center;
}

.about-text {
	font-size: 220%;
	font-family: courier;
	padding:8%;
}

.disclaimer-text {
	font-size: 50%;
	color: #221d3c;
}
	
.maincats{
	background-color:rgba(57,64,50,0.7);

}	

.lowermenu {
	/*background-color:#394032;*/
	
}

.bblabel {
	text-align: center;
	
}

.bigbuttons {
	margin-top: 15px;
	margin-bottom: 5px;
}

.billboard {

	padding: 1%;
	background-color: #394032;

}

.billboardimg {
	/*box-shadow: 0px 0px 30px #262644;*/
	margin:auto;
	position:relative;
	z-index: 1;


}

.largeitem {
	padding: 2px;
	box-shadow: 0px 0px 20px #000;
	background-color: none;
	
	
}


.lowerlabel {
	text-align: center;
	width:100%;
	background-color: #fff;
	margin-top:10px;

}


/*.nav{
height: 40px;
overflow:visible;
background-color: #10101D;
width:100%;

}

.navlinks {
	position: relative;
	padding:3px;
	text-align:right;
	color: #cfee9e;
	z-index:1;

}*/




